body {
    background: linear-gradient(90deg, #e8e9cb, #a5e8dab9);
}

.main {
    margin: 0 auto;
    width: 40%;
    border: 5px double gray;
    /* border-radius: 3px; */
    margin-top: 40vh;
    box-shadow: 5px 5px 10px gray;
}

h1, .btn {
    text-align: center;
}

a {
    text-decoration: none;
    color: #c45e68;
    font-size: 1.3em;
    border: 2px solid black;
    background: linear-gradient(45deg, #dddcbb, #e2a5a5);
    padding: 5px;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;

}

a:hover {
    color: white
}   

a:active {
    box-shadow: inset -1px -1px 2px black;
}

.btn {
    margin-bottom: 25px;
}

img {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

p {
    font-size: 35px;
    letter-spacing: 3px;
    color: #8a4b4b;
    text-align: center;
}
